@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Link del repositorio de <a href="https://github.com/Alex-Caicedo-R384/AlexCaicedoRams_Examen1P.git">Alex Caicedo</a>.</p>
    <p>Link para ir a la Tabla <a href="https://localhost:7061/AlexCaicedo_Tabla">Tabla</a>.</p>
</div>
