@model AlexCaicedoRams_Examen1P.Models.AlexCaicedo_Tabla

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Tabla de Alex Caicedo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AcCedula" class="control-label"></label>
                <input asp-for="AcCedula" class="form-control" />
                <span asp-validation-for="AcCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcNombre" class="control-label"></label>
                <input asp-for="AcNombre" class="form-control" />
                <span asp-validation-for="AcNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcApellido" class="control-label"></label>
                <input asp-for="AcApellido" class="form-control" />
                <span asp-validation-for="AcApellido" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AcMayordeEdad" /> @Html.DisplayNameFor(model => model.AcMayordeEdad)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AcIngresos" class="control-label"></label>
                <input asp-for="AcIngresos" class="form-control" />
                <span asp-validation-for="AcIngresos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcFechaNacimiento" class="control-label"></label>
                <input asp-for="AcFechaNacimiento" class="form-control" />
                <span asp-validation-for="AcFechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
